<h1 mat-dialog-title>Creating new game</h1>
<div mat-dialog-content>
  <p>Pick your opponent</p>
  <mat-form-field class="users-selector">
    <mat-label>Opponent's username</mat-label>
    <mat-select [formControl]="selectForm" data-e2e-anchor="dialog-create-game:select">
      <mat-option
        *ngFor="let user of (users$ | async)"
        [value]="user.username"
        data-e2e-anchor="dialog-create-game:option"
      >
        {{ user.username }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p>Copy ID of a game from <a href="https://lidraughts.org/">Lidraughts</a></p>
  <mat-form-field class="users-selector">
    <mat-label>Game's ID</mat-label>
    <input matInput [formControl]="idForm" data-e2e-anchor="dialog-create-game:select">
  </mat-form-field>

  <p>Pick your color for the game</p>
  <mat-form-field class="users-selector">
    <mat-label>Color</mat-label>
    <mat-select [formControl]="colorForm" data-e2e-anchor="dialog-create-game:select-color">
      <mat-option
        *ngFor="let color of colors"
        [value]="color"
        data-e2e-anchor="dialog-create-game:option-color"
      >
        {{ color | titlecase }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div mat-dialog-actions class="footer">
  <button
    [disabled]="!selectForm.value || !idForm.value"
    (click)="onSubmit()"
    data-e2e-anchor="dialog-create-game:create-button"
    mat-raised-button
    color="primary"
  >
    Import
  </button>
  <button [mat-dialog-close]="null" mat-button>Cancel</button>
</div>
