<div class="header-container">
  <button *ngIf="isLoggedIn" (click)="goHome()" mat-icon-button color="primary" data-e2e-anchor="header:home-button">
    <mat-icon>home</mat-icon>
  </button>

  <div *ngIf="isLoggedIn" class="user-info">
    <span>Hi, {{ userName }}!</span>

    <button (click)="logout()" mat-icon-button color="primary" data-e2e-anchor="header:logout-button">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</div>
