.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #cedce8;
  margin-bottom: 32px;
  padding: 8px;
  height: 32px;

  .user-info {
    color: #3f51b5;
    font-size: 20px;
    display: flex;
    align-items: center;
    cursor: default;
  }
}
