<h4>Active games</h4>

<ng-container *ngIf="games$ | async as games; else emptyList">
  <ng-container *ngIf="games.length; else emptyList">
    <div
      *ngFor="let game of games.slice().reverse()"
      (click)="onGameClick(game.id, game.whiteId, game.blackId)"
      data-e2e-anchor="games-list:tile"
      class="game-tile"
    >
      <div class="opponents">
    <span class="user white" data-e2e-anchor="games-list:white-tile">
        {{ game.whiteUsername }}
    </span>

        <span class="user black" data-e2e-anchor="games-list:black-tile">
      {{ game.blackUsername }}
    </span>
      </div>

      <span class="game-time">{{ this.getFormattedDate(game.timestamp) }}</span>
    </div>
  </ng-container>
</ng-container>

<ng-template #emptyList>
  <div class="game-tile empty-message">
    No active games
  </div>
</ng-template>
