:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-tile {
  width: 500px;
  height: 100px;
  border: 1px solid black;
  margin-bottom: 24px;
  text-align: center;
  cursor: pointer;

  .opponents {
    display: flex;
    height: 80px;
    border-bottom: 1px solid black;

    .user {
      box-sizing: border-box;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &.white {
        background-color: #f3ece6;
      }

      &.black {
        background-color: #788eab;
      }
    }
  }

  &.empty-message {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3ece6;
  }
}

.game-time {
  display: inline-block;
  font-size: 14px;
  height: 20px;
  width: 100%;
}
