<h1 mat-dialog-title>Creating new game</h1>
<div mat-dialog-content>
  <p>Pick your opponent</p>
  <mat-form-field class="users-selector">
    <mat-label>Opponent's username</mat-label>
    <mat-select [formControl]="selectForm" data-e2e-anchor="dialog-new-game:select">
      <mat-option
        *ngFor="let user of (users$ | async)"
        [value]="user.username"
        data-e2e-anchor="dialog-new-game:option"
      >
        {{ user.username }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions class="footer">
  <button
    [mat-dialog-close]="selectForm.value"
    [disabled]="!selectForm.value"
    data-e2e-anchor="dialog-new-game:create-button"
    mat-raised-button
    color="primary"
  >
    Create
  </button>
  <button [mat-dialog-close]="null" mat-button>Cancel</button>
</div>
