<div class="chessboard-wrapper">
  <div class="chess-board" data-e2e-anchor="board:chessboard" [class.rotated]="playerColor === 'black'">
    <div *ngFor="let row of boardState; let rowIdx = index" class="chess-row">
      <div
        *ngFor="let cell of row; let columnIdx = index"
        [ngClass]="getCellColor(rowIdx, columnIdx)"
        [class.hoverable]="!!cell"
        [class.clickable]="isClickableCell(cell, {rowIndex: rowIdx, columnIndex: columnIdx})"
        [class.targeted]="isTargetedPosition({rowIndex: rowIdx, columnIndex: columnIdx})"
        [class.can-move]="showCanMoveHint({rowIndex: rowIdx, columnIndex: columnIdx})"
        (click)="onCellClick(cell, {rowIndex: rowIdx, columnIndex: columnIdx})"
        data-e2e-anchor="board:cell"
        class="chess-cell"
      >
        <app-chessman
          *ngIf="cell; else emptyCell"
          [chessman]="cell"
          data-e2e-anchor="board:chessman"
        >
        </app-chessman>
      </div>
    </div>
  </div>

  <button
    *ngIf="!wasGameFinished; else finishedGameMessage"
    [class.enemy-turn]="isEnemyTurn"
    class="turn-button"
    data-e2e-anchor="board:turn-button"
  >
    {{ isEnemyTurn ? 'Enemy turn' : 'Your turn' }}
  </button>

  <div *ngIf="!wasGameFinished" class="secondary-text">
    You're playing <b>{{ playerColor }}</b> now
  </div>
</div>

<ng-template #emptyCell>
  &nbsp;
</ng-template>

<ng-template #finishedGameMessage>
  <div class="results">{{ finishText }}</div>
</ng-template>
