:host {
  width: 60%;
  height: 60%;
}

.chessman {
  width: 100%;
  height: 100%;
  border: 6px solid;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  &.black {
    background-color: #262626;
    border-color: #000;
  }

  &.white {
    background-color: #e6e6e6;
    border-color: #fff;
  }

  img {
    width: 21px;
    height: 21px;
  }
}
