/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

body {
  background-color: aliceblue;
  min-height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
