<div class="list-container">
  <button (click)="onClickCreateNewGame()" class="new-game-button game-button" data-e2e-anchor="menu:new-game-button">
    New game
  </button>

  <button (click)="createTrain()" class="game-button" data-e2e-anchor="menu:new-train-button">
    New train
  </button>

  <button (click)="onClickActiveGames()" class="game-button" data-e2e-anchor="menu:list-games-button">
    Games
  </button>

  <button (click)="onClickImportGame()" class="game-button" data-e2e-anchor="menu:list-import-button">
    Import
  </button>
</div>
