<form [formGroup]="form" class="login-form">
  <mat-form-field appearance="fill">
    <mat-label>Login</mat-label>
    <input type="text" matInput formControlName="login" data-e2e-anchor="login:input-name">

    <mat-error *ngIf="form.controls['login'].hasError('required')" data-e2e-anchor="login:error-login-required">
      Login is required
    </mat-error>
    <mat-error *ngIf="form.controls['login'].hasError('minlength')" data-e2e-anchor="login:error-login-min">
      Minimum length is 4 characters
    </mat-error>
    <mat-error *ngIf="form.controls['login'].hasError('maxlength')" data-e2e-anchor="login:error-login-max">
      Maximum length is 32 characters
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password"
           data-e2e-anchor="login:input-password">
    <mat-icon
      (click)="onHideClick($event)"
      matSuffix
    >
      {{ hidePassword ? 'visibility_off' : 'visibility' }}
    </mat-icon>

    <mat-error *ngIf="form.controls['password'].hasError('required')" data-e2e-anchor="login:error-password-required">
      Password is required
    </mat-error>
  </mat-form-field>

  <ng-container *ngIf="existingUser; else newUserButton">
    <button data-e2e-anchor="login:login-button" class="login-submit-button" (click)="login()">Login</button>
    <div (click)="swapRegisterMode()" data-e2e-anchor="login:swap-mode" class="login-hint">Not a member yet? Sign up
      now!
    </div>
  </ng-container>
</form>

<ng-template #newUserButton>
  <button class="login-submit-button" data-e2e-anchor="login:create-button" (click)="register()">Create user</button>
  <div (click)="swapRegisterMode()" data-e2e-anchor="login:swap-mode" class="login-hint">Already a member? Sign in
    now!
  </div>
</ng-template>
