.login-form {
  display: flex;
  flex-direction: column;
}

.login-hint {
  font-size: 13px;
  margin-top: 8px;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
}

.login-submit-button {
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.login-submit-button:after {
  content: "";
  background-color: #cdb8ef;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.login-submit-button:hover:after {
  top: 0;
  left: 0;
}

@media (min-width: 768px) {
  .login-submit-button {
    padding: 13px 50px 13px;
  }
}
